# Ignora tudo
*

# Exceto arquivos .java
!*.java

# Permite pastas
!*/

# Permite o pom.xml
!pom.xml

# Sempre incluir .gitignore
!.gitignore

# Ignora compilados
*.class

# Ignora IntelliJ e VS Code configs
.idea/
*.iml
out/